header {
    display: flex;
    justify-content: space-between  ;
    background-color: #5e7899;
    width: 1400px;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav{
    text-align: right;
}

a { 
    display: inline-flex;
    align-items: center;
    color: #fff;     
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif, monospace; 
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before {
    content: "";
    background-color: #5af288;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

#download-cv-button {
    display: inline-block;
    background-color: #44b466;
    padding: 17px 19px;
    box-shadow: 5px 5px 0px #000;
    margin-right: 0px;
    transition: 0.3s;
}

#download-cv-button:hover {
    background-color: #008cff;
    box-shadow: 5px 5px 5px #000;
}
